# Home Assistant
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.db-journal
*.db-shm
*.db-wal
*.sqlite

.cloud
.storage
.uuid
.homekit.state

core.*
OZW_Log.txt

secrets.yaml
ios.conf
known_devices.yaml

deps
__pycache__
tts

home-assistant.log*
home-assistant_v2.db

.spotify*

ip_bans.yaml
zigbee.db

.HA_VERSION
# Editors
.vscode
.idea
*.iml

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
